<template>
  <b-navbar
    toggleable="md"
    type="light"
    variant="light">
    <b-navbar-brand href="/">Q</b-navbar-brand>

    <b-navbar-nav class="ml-auto">
      <b-nav-item href="/">Projects</b-nav-item>
      <b-nav-item>
        <div
          v-if="!userLogged"
          @click="this.$router.go('/login')">Login
        </div>
        <div
          v-else
          @click="logout">Logout
        </div>
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
  import cookies from 'js-cookie';
  import {setAuthToken, resetAuthToken} from '~/utils/auth';

  export default {
    name: 'Navbar',
    computed: {
      userLogged() {
        return this.$store.state.userToken;
      },
    },
    methods: {
      logout: function() {
        this.$axios.post('auth/logout', {}, {
              headers: {'Authorization': 'Bearer ' + cookies.get('x-access-token')},
            },
        ).then(() => {
          cookies.remove('x-access-token');
          resetAuthToken();
          this.$store.dispatch('reset_user');
          this.$router.go('/login');
        });
      },
    },
  };
</script>

<style scoped>
    .navbar-brand {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 28px;
        color: #000;
        font-weight: 700;
        font-family: Google Sans, sans-serif;
        margin-left: 13px;
        margin-right: 13px;
        margin-top: 1px;
        border-radius: 50%;
    }

    .navbar {
        -webkit-box-shadow: 0 1px 1px #7c7c7c;
        box-shadow: 0 1px 1px #7c7c7c;
    }
</style>