<template>
  <div class="b-page-content">
    <div class="b-edit-project">
      <form class="app-form b-project">
        <div class="b-columns">
          <div class="b-right"/>
          <div class="b-left">
            <div class="float">
              <div class="b-row m-name">
                <div class="b-label"><label for="project_name">name</label></div>
                <div class="b-input">
                  <input
                    id="project_name"
                    v-model="title"
                    autocomplete="false"
                    spellcheck="false"
                    type="text"
                    name="name">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="b-row">
          <div
            class="btn"
            style="width: 90px;"
            @click="updateName">
            <span class="e-text">Save</span>
          </div>
          <nuxt-link to="/">
            <button
              type="button"
              class="btn btn-light-grey">Back
            </button>
          </nuxt-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import cookies from 'js-cookie';

  export default {
    name: 'Index',
    project_id: null,
    data() {
      return {
        project: {},
        title: '',
      };
    },
    created() {
      this.project_id = this.$route.query.id;
    },
    mounted() {
      return axios.get('https://api.quwi.com/v2/projects-manage/' + this.project_id, {
        headers: {
          'Authorization': 'Bearer ' + cookies.get('x-access-token'),
        },
      }).then((res) => {
        this.project = res.data.project;
        this.title = res.data.project.name;
      });
    },
    methods: {
      updateName: function(event) {
        return axios({
          baseURL: 'https://api.quwi.com/v2/projects-manage/update?id=' + this.project_id,
          method: 'PUT',
          data: {
            name: this.title,
          },
          headers: {
            'Authorization': 'Bearer ' + cookies.get('x-access-token'),
          },
        }).then((res) => {
            window.location = "/"
        });
      },
    },
  };

</script>

<style scoped>
    .b-page-content {
        padding: 20px 0;
        width: 600px;
        margin: auto;
    }

    .app-form {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        color: #000;
        background: #fff;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .44);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .44);
    }

    .b-edit-project .b-project .b-columns {
        margin-bottom: 20px;
    }

    .b-edit-project .b-project .b-columns .b-right {
        float: right;
        width: 120px;
        text-align: right;
    }

    .b-edit-project .b-project .b-columns .b-left {
        margin-right: 120px;
    }

    .float {
        float: left;
        width: 100%;
    }

    .b-edit-project .b-project .b-row:last-child {
        margin-bottom: 0;
    }

    .b-edit-project .b-project .b-row .btn {
        float: right;
        margin-left: 15px;
        min-width: 90px;
    }

    .btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .btn .e-text {
        white-space: nowrap;
    }

    .btn {
        height: 34px;
        padding: 0 15px;
        text-transform: uppercase;
        font-size: 11px;
        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
        background: #395378;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
    }

    .btn.btn-light-grey {
        color: #000;
        background-color: #cecece;
        border: 1px solid #bebebe;
        text-shadow: 1px 1px 0 #ccc;
    }

    .b-edit-project .b-project .b-row .b-label {
        width: 100px;
        float: left;
        text-transform: capitalize;
    }

    .app-form label {
        display: inline-block;
        padding: 9px 0;
    }

    .b-edit-project .b-project .b-row:after {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
    }

    .b-edit-project .b-project .b-columns .b-left:after {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
    }

    .b-edit-project .b-project .b-columns:after {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
    }
</style>