<template>
  <section id="content">
    <div class="app-projects-index">
      <div
        v-if="Object.keys(projects).length !== 0"
        class="b-projects">
        <div
          v-for="(project, index) in projects"
          :key="index"
          :class="{ inactive: !project.is_active}"
          class="b-project-box">
          <nuxt-link :to="{ path: '/edit', query: { id: project.id }}">
            <div class="b-project-content">
              <div class="b-logo">
                <div class="b-avatar">
                  <div
                    v-if="project.logo_url === null"
                    class="e-empty-avatar m-7"
                    style="height: 40px; width: 40px; font-size: 17px;">
                    EP
                  </div>
                  <img
                    v-else
                    :src="project.logo_url"
                    width="40px"
                    height="40px">
                </div>
              </div>
              <div class="b-name">
                <div class="e-name">
                  {{ project.name }}
                </div>
              </div>
              <div class="b-status">
                <div
                  :class="{ 'm-active': project.is_active }"
                  class="e-status">
                  {{ isActive[index] }}
                </div>
                <div class="e-users">
                  {{ project.users.length }} users
                </div>
              </div>
              <div class="b-stats">
                <div class="stats-row">
                  <div class="e-titles">
                    time this week
                  </div>
                  <div class="e-counts">
                    {{ project.spent_time_week }}
                  </div>
                </div>
                <div class="stats-row">
                  <div class="e-titles">
                    this month
                  </div>
                  <div class="e-counts">
                    {{ project.spent_time_month }}
                  </div>
                </div>
                <div class="stats-row">
                  <div class="e-titles">
                    total
                  </div>
                  <div class="e-counts">
                    {{ secondsToTime[index] }}
                  </div>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <div 
        v-else 
        class="no-projects text-center">
        <h1>No projects</h1>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';
  import cookies from 'js-cookie';

  export default {
    middleware: ['authentication'],
    data() {
      return {
        projects: {},
      };
    },
    computed: {
      isActive() {
        return this.projects.map(function(project) {
          return project.is_active ? 'Active' : 'Inactive';
        });
      },
      secondsToTime() {
        return this.projects.map(function(project) {
          let date = new Date(null);
          date.setSeconds(project.spent_time_all); // specify value for SECONDS here
          let timeString = date.toISOString().substr(11, 8);
          return timeString;
        });
      },
    },
    mounted() {
      return axios.get('https://api.quwi.com/v2/projects-manage/index', {
        headers: {
          'Authorization': 'Bearer ' + cookies.get('x-access-token'),
        },
      }).then((res) => {
        this.projects = res.data.projects;
      });
    },
  };
</script>

<style scoped>
    .no-projects {
      padding-top: 10%;
      color: #777;
    }
    a, a:hover {
        color: black;
        text-decoration: none;
    }

    .app-projects-index .b-projects {
        margin: 15px auto;
        width: 600px;
        position: relative;
    }

    .app-projects-index .b-projects .b-buttons {
        text-align: right;
        margin-bottom: 20px;
    }

    .b-project-box, .b-project-box .b-mover {
        -webkit-box-align: center;
        align-items: center;
    }

    .b-project-box {
        margin-bottom: 6px;
        width: 100%;
        -ms-flex-align: center;
        position: relative;
    }

    .b-project-box.inactive {
        opacity: .5;
    }

    .b-project-box .b-project-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #dedede;
        padding: 18px 20px 20px 25px;
        cursor: pointer;
        font-size: .9em;
        height: 90px;
    }

    .b-project-box .b-project-content .b-logo {
        border: none;
        padding: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        max-width: 65px;
    }

    .b-logo {
        width: 100%;
        cursor: default;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

    .b-avatar {
        position: relative;
    }

    .b-avatar .e-empty-avatar.m-7 {
        background: #8b008b;
    }

    .b-avatar .e-empty-avatar {
        overflow: hidden;
        border-radius: 50%;
        white-space: nowrap;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #6495ed;
        text-transform: uppercase;
    }

    .b-avatar img {
        border-radius: 50%;
    }

    .b-project-box .b-project-content .b-name {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-weight: 700;
        overflow: hidden;
    }

    .b-project-box .b-project-content .b-name .e-name {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }

    .b-project-box .b-project-content .b-status {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .b-project-box .b-project-content .b-status .e-status.m-active {
        color: green;
    }

    .b-project-box .b-project-content .b-status .e-status {
        color: #777;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .b-project-box .b-project-content .b-status .e-users {
        font-weight: 700;
    }

    .b-project-box .b-project-content .b-stats {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        white-space: nowrap;
        margin-top: 2px;
        margin-left: 32px;
        min-width: 162px;
        max-width: 162px;
    }

    .b-project-box .b-project-content .b-stats .stats-row {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .b-project-box .b-project-content .b-stats .e-counts, .b-project-box .b-project-content .b-stats .e-titles {
        margin: 4px 0 0;
    }

    .b-project-box .b-project-content .b-stats .e-counts, .b-project-box .b-project-content .b-stats .e-titles {
        margin: 4px 0 0;
    }

    .b-project-box .b-project-content .b-stats .e-counts {
        text-align: right;
        font-weight: 700;
    }

</style>
