<template>
  <div class="form-login">
    <h2>Login</h2>
    <form
      method="post"
      @submit.prevent="login">
      <div class="form-group">
        <div
          v-show="submitted && error"
          class="no-inputs">Username or password is incorrect!
        </div>
        <label for="email">Username</label>
        <input
          id="email"
          v-model="email"
          maxlength="30"
          type="text"
          name="email"
          class="form-control">
        <div
          v-show="!email && submitted"
          class="no-inputs">Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          v-model="password"
          maxlength="30"
          type="password"
          name="password"
          class="form-control">
        <div
          v-show="!password && submitted"
          class="no-inputs">Password is required
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary">Login
        </button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        email: '',
        password: '',
        error: null,
        submitted: false,
      };
    },
    methods: {
      login() {
        this.submitted = true;
        let email = this.email,
            password = this.password;
        if (this.email && this.password) {
          this.$store.dispatch('login', {
            email: email,
            password: password,
          }).then(resp => {
            window.location = "/";
          }).catch(err => {
            this.error = err;
          });
        }
      },
    },
  };
</script>

<style scoped>
    .form-login {
        width: 40%;
        margin: auto;
        border: 1px solid #ced4da;
        border-radius: 2px;
        padding: 20px;
    }

    .no-inputs {
        color: red !important;
    }

    .invalid-input {}
</style>